@model List<Cholo_Sikhi.Models.Cours>

@{
    ViewBag.Title = "Course";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="fonts/icomoon/style.css">


    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/coursestyle.css">
    <title>Course</title>
</head>
<body>

    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html" style="color: Black;">Cholo Shiki</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Course", "Registration")">Courses</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="#">Food Catering</a>
                                <a class="dropdown-item" href="#">Drink &amp; Beverages</a>
                                <a class="dropdown-item" href="#">Wedding &amp; Birthday</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="#">Food Catering</a>
                                <a class="dropdown-item" href="#">Drink &amp; Beverages</a>
                                <a class="dropdown-item" href="#">Wedding &amp; Birthday</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item cta-btn">
                            @if (Session["Useremail"] == null)
                            {
                                <a class="nav-link" href="@Url.Action("Login", "Registration")">Sign In</a>
                            }
                            else
                            {
                                String s = Session["Username"].ToString();
                                String fl = " ";
                                fl += s[0];
                                for (int i = 0; i < s.Length; i++)
                                {
                                    if (s[i] == ' ')
                                    {
                                        fl += s[i];
                                    }
                                }
                                <a class="nav-link" href="#">@fl</a>
                            }
                        </li>           
                    </ul>
                    <ul class="navbar-nav ml-3">
                        @if (Session["Useremail"] != null)
                        {
                            <li class="nav-item cta-btn">

                                <a class="nav-link" href="@Url.Action("endsession", "Registration")">Log Out</a>

                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->
    @{ int decono = 0;List<String> l = new List<String>();}

    <div class="course">
        <div class="course-body">
            <div class="course-tittle">
                <h1>Courses</h1>
                <div class="des-p">
                    <p>
                        Whether you are just beginning or looking to  utilize, Cholo Shiki has a comprehensive selection of courses. Take one of the training courses on Cholo Shiki from real world instructors, and develop your skills in this exciting field.
                    </p>
                </div>
            </div>
            <form method="post" id="contactForm" name="contactForm">
                <div class="dotted"></div>
                <div class="filter">

                    <select id="fruitSelector" name="fruitSelector" onchange="this.form.submit()">
                        <option value="0" selected="selected" disabled="disabled">Select Sort</option>
                        <option value="price_desc">Highest Price</option>
                        <option value="price">Lowest Price</option>
                    </select>
                    <input type="text" class="form-control" name="sortOrder" id="eame" style="display: none;" placeholder="Your email">

                </div>

                <div>
                    <div class="catagories">
                        <div class="box">
                            <h3>Category</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" onchange="this.form.submit()" name="flexRadioDefault" id="flexRadioDefault1" value="All">
                                <label class="form-check-label" for="flexRadioDefault1">
                                   All
                                </label>
                                <br>
                                @foreach (var x in Model)
                                {
                                    if (l.Contains(x.catagory.ToString()) == false)
                                    {
                                        l.Add(x.catagory.ToString());
                                    <input class="form-check-input" type="radio" onchange="this.form.submit()" name="flexRadioDefault" id="flexRadioDefault1" value="@x.catagory">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        @x.catagory
                                    </label>
                                    <br>
                                    }
                                }

                                <!---->

                                <span id="result" style="display:none;"></span>
                            </div>
                        </div>
                    </div>
            </form>

            <div class="course-box">
                <div class="cards-wrapper">
                    @foreach (var course in Model)
                    {
                        decono = Convert.ToInt32(course.c_id) % 6;
                        <div class="card">
                            <div class="card--data">
                                <span class="card--months">@course.catagory</span>
                                <h3 class="card--title">@Html.ActionLink(@course.tittle, "CourseDetails", new { id = course.c_id })</h3>

                                <span class="course-type">@course.price</span>
                            </div>

                            <div class="card-img-wrapper">
                            </div>

                            <div class="card-img-deco deco-@decono">
                            </div>
                        </div>
                    }

                </div>

            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script>
                const theSelect = document.getElementById('fruitSelector')
                const theSelectrating = document.getElementById('flexRadioDefault1')


                // THIS LINE BINDS THE input EVENT TO THE ABOVE select ELEMENT
                // IT WILL BE EXECUTED EVERYTIME THE USER SELECTS AN OPTION
                theSelect.addEventListener('input', function () {

                    // THIS IS HOW YOU GET THE SELECTED OPTION'S TEXT
                    let selectedOptText = theSelect.options[theSelect.selectedIndex].value


                    // FINALLY, THIS COPIES THE ABOVE TEXT TO THE INPUT ELEMENT:
                    document.querySelector('.form-control').value = selectedOptText;

                })

                document.contactForm.onclick = function () {

                    var radVal = document.contactForm.flexRadioDefault.value;
                    result.innerHTML = 'You selected: ' + radVal;
                    document.querySelector('.form-control').value = radVal;
                }

            </script>

            <script src="~/Content/js/jquery-3.3.1.min.js"></script>
            <script src="~/Content/js/popper.min.js"></script>
            <script src="~/Content/js/bootstrap.min.js"></script>
            <script src="~/Content/js/jquery.sticky.js"></script>
            <script src="~/Content/js/jquery.validate.min.js"></script>
            <script src="~/Content/js/main.js"></script>
</body>
</html>
