@model IEnumerable<Cholo_Sikhi.Models.Multiple>

@{
    ViewBag.Title = "CourseDetails";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/homee.css">
    <title>CourseDetails</title>
</head>
<body>
    @{
        List<int> firstlist = new List<int>();
        List<int> secondlist = new List<int>();
        List<int> reviewchck = new List<int>();
        List<int> thirdlist = new List<int>();
        List<string> reviewercheck = new List<string>();
        int video = 0, p = 0, courseid = 0, c = 0, ii = 0;
        string description = "", checkdot = "", coursename = "", tittle = "", videourl = "", sectionname = "", price = "", course_tittle = "";

        firstlist.Clear();
        secondlist.Clear();
        thirdlist.Clear();
        reviewchck.Clear();
        reviewercheck.Clear();

        foreach (var countcontent in Model)
        {
            if (countcontent.content.content_type.ToString() == "play" && secondlist.Contains(Convert.ToInt32(countcontent.content.subsec_id)) == false)
            {
                video++;
                secondlist.Add(countcontent.content.subsec_id);
            }
            if (Session["ReviewActive"].ToString() == "Yes")
            {
                reviewercheck.Add(countcontent.reviewdetails.email.ToString());
            }
        }
    }



    <div class="details-body">
        <div class="details-body-container">
            @foreach (var dis in Model.Take(1))
            {
                price = dis.coursedetails.price.ToString();
                courseid = Convert.ToInt32(dis.coursedetails.c_id);
                p = Convert.ToInt32(dis.coursedetails.price);
                coursename = dis.coursedetails.tittle.Trim().ToString();
                course_tittle = dis.coursedetails.tittle.ToString();
                <div class="course-data">
                    <div class="catagory">
                        <h5>@dis.coursedetails.catagory</h5>
                    </div>
                    <div class="description">
                        <h2>@dis.coursedetails.tittle</h2>
                        <p>
                            @dis.coursedetails.c_description
                        </p>
                        <button class="button-26" role="button">Buy Now</button>
                    </div>
                    <div class="info">
                        <p>Created by <a href="">@dis.coursedetails</a> </p>
                        <p>Last Updated 10/2020</p>
                    </div>
                </div>
                <div class="img-box">
                    <img src="@dis.coursedetails.c_img" alt="">
                </div>
            }
        </div>
    </div>




    <form method="post" id="contactForm" name="contactForm">
        <div class="learn2-box">
            <h1>@price$</h1>


            <input type="text" class="form-control cartadd" style="display:none;" name="addcart" value="No">
            <input type="text" class="form-control" style="display:none;" name="prc" id="eame" value=@p>
            <input type="text" class="form-control" style="display:none;" name="coursename" id="eame" value="@course_tittle">
            <input type="text" class="form-control" style="display:none;" name="courseid" id="eame" value=@courseid>

            @if (Session["AddtoCart"] != null || Session["Enrollment"]!=null)
            {
                if (Session["AddtoCart"] == Session["Useremail"] || Session["Enrollment"] == Session["Useremail"])
                {
                <button type="submit" class="button-66" role="button"><span id="linkk">@Html.ActionLink("Go to Cart", "Cart", "Registration", new { @style = "color:white;" })</span></button>
                }
            }
            else
            {
            <button onclick="decidecart()" type="submit" class="button-66" role="button">Buy Now</button>
            }


            <p>30-Day Money-Back Guarantee</p>
            <div class="lessons1">
                <ul class="b">
                    <h5>This course includes:</h5>

                    <li><span>&#10003;</span>@video on-demand video</li>
                    <li><span>&#10003;</span>articles</li>
                    <li><span>&#10003;</span>Quizes</li>
                    <li><span>&#10003;</span>Full lifetime access</li>
                    <li><span>&#10003;</span>Access on mobile and TV</li>
                    <li><span>&#10003;</span>Certificate of completion</li>
                </ul>
            </div>
        </div>

        <div class="course-data2">
            <div class="learn-box">
                <div class="lessons">
                    <h2 id="leftside">What you'll learn</h2>
                    @foreach (var descriptionlearn in Model.Take(1))
                    {
                        description = @descriptionlearn.coursedetails.learn_des.ToString();
                        <ul class="a">
                            @foreach (char h in description)
                            {
                                if (h == '.')
                                {
                                    <div>
                                    <li><span>&#10003;</span>@checkdot</li>
                            </div>
                            checkdot = " ";
                        }
                        else
                        {
                            checkdot += h;
                        }
                    }
                            </ul>
                        }
                </div>
            </div>
            </div>


            <div class="contentt">
                <div class="lessons">
                    <h2>Course content</h2>
                </div>
                <div id="accordion">

                    @foreach (var s in Model)
                    {
                        ii = Convert.ToInt32(s.sectiondetails.s_id);
                        var sModalURL = "#myModal";
                        var sModalId = "myModal";
                        sectionname = s.sectiondetails.tittle.ToString();
                        int check_course = Convert.ToInt32(s.sectiondetails.c_id);
                        <div>
                            @if (c != ii && thirdlist.Contains(ii) == false && check_course == courseid)
                            {
                                c = Convert.ToInt32(s.sectiondetails.s_id);

                                thirdlist.Add(ii);
                                <div class="card">
                                    <div class="card-header collapsible" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h5 class="mb-0">
                                            <h5>
                                                @s.sectiondetails.tittle
                                            </h5>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse content" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">

                                            <ul>
                                                @foreach (var d in Model)
                                                {
                                                    if (d.content.section_tittle.ToString() == sectionname && firstlist.Contains(Convert.ToInt32(d.content.subsec_id)) == false)
                                                    {
                                                        firstlist.Add(Convert.ToInt32(d.content.subsec_id));
                                                        sModalURL += d.content.subsec_id;
                                                        sModalId += d.content.subsec_id;
                                                        tittle = Convert.ToString(d.content.subsec_tittle);
                                                        if (d.content.content_type.ToString() == "play")
                                                        {
                                                            videourl = Convert.ToString(d.content.content_link);


                                                            <li><span><i class="fa fa-play-circle" style="font-size:16px;color:rgb(0, 0, 0)"></i></span><a href="" id="myBtn" data-toggle="modal" data-target="@sModalURL">@d.content.subsec_tittle</a></li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <span><i class="fa fa-play-circle" style="font-size:16px;color:rgb(0, 0, 0)"></i></span>@Html.ActionLink(tittle, "Quizport", new { id = courseid, secname = sectionname })</li>
                                                            }
                                                        }
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="@sModalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLongTitle">@tittle </h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <iframe width="100%" height="335" class="yt_player_iframe" src=@videourl title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--MODAL PART-->
                                                    }
                                            </ul>
                                        </div>
                                    </div>
                                </div> <!--end of card-->
                            }
                        </div> <!--div-->
                    }

                </div>
            </div>

            @if (Session["Useremail"] != null)
            {
                if (reviewercheck.Contains(Session["Useremail"].ToString()) == false)
                {
                    if (Session["Enrollment"] == Session["Useremail"])
                    {
                        <div class="course-data2">
                            <div class="learn-box">
                                <div class="rating-box">
                                    <div class="rating-container">
                                        <h2>Add Rating</h2>
                                        <input type="radio" class="star" onclick="showrating(5)" name="rating" value="5" id="star-5"> <label onclick="showrating()" for="star-5">&#9733;</label>

                                        <input type="radio" class="star" onclick="showrating(4)" name="rating" value="4" id="star-4"> <label onclick="showrating()" for="star-4">&#9733;</label>

                                        <input type="radio" class="star" onclick="showrating(3)" name="rating" value="3" id="star-3"> <label onclick="showrating()" for="star-3">&#9733;</label>

                                        <input type="radio" class="star" onclick="showrating(2)" name="rating" value="2" id="star-2"> <label onclick="showrating()" for="star-2">&#9733;</label>

                                        <input type="radio" class="star" onclick="showrating(1)" name="rating" value="1" id="star-1"> <label onclick="showrating()" for="star-1">&#9733;</label>
                                    </div>
                                    <h1 class="rating">0/5</h1>
                                </div>


                                <div class="form-outline w-100 mb-4">
                                    <input type="text" class="form-control ratingbox" name="rating" id="eame" value="0">
                                    <textarea class="form-control" id="form4Example3" name="review" rows="4"></textarea>
                                </div>
                                <button onclick="Removecart()" type="submit" class="button-26" role="button">Submit</button>
                                
                            </div>

                        </div>
                        }
                    }
                }
            </form>

        @if (Session["ReviewActive"].ToString() == "Yes")
        {
        <div class="course-data2">
            <div class="learn-box">
                <div id="testimonials">

                    <div class="testimonial-box-container">
                        @foreach (var v in Model)
                        {
                            int ratingcount = Convert.ToInt32(v.reviewdetails.rating);
                            int checkcourse = Convert.ToInt32(v.reviewdetails.c_id);
                            if (reviewchck.Contains(Convert.ToInt32(v.reviewdetails.r_id)) == false && checkcourse == courseid)
                            {
                                reviewchck.Add(Convert.ToInt32(v.reviewdetails.r_id));
                                <div class="testimonial-box">

                                    <div class="box-top">

                                        <div class="profile">

                                            <div class="profile-img">
                                                <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" alt="">
                                            </div>
                                            <div class="name-user">
                                                <strong>@v.reviewdetails.username</strong>
                                            </div>
                                            <div class="name-user">
                                                <span>@v.reviewdetails.reviewdate</span>
                                            </div>
                                        </div>

                                        <div class="reviews">
                                            @for (int i = 0; i < ratingcount; i++)
                                            {<i class="fa fa-star checked" style="font-size:16px;"></i>}
                                            @for (int i = 0; i < 5 - ratingcount; i++)
                                            {<i class="fa fa-star" style="font-size:16px;"></i>}
                                        </div>
                                    </div>
                                    <div class="client-comment">
                                        <p>@v.reviewdetails.review1</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        }


        <div class="course-data2">
            <div class="learn-box">
                <div class="lessons">
                    <h2>User Rating</h2>
                    <span class="heading">User Rating</span>
                    <span class="fa fa-star checked"></span>

                    <span class="fa fa-star"></span>
                    <p>4.1 average based on 254 reviews.</p>
                    <hr style="border:3px solid #f1f1f1">

                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            $('#exampleModalCenter').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".close").click(function () {
                    $('.yt_player_iframe').each(function () {
                        var el_src = $(this).attr("src");
                        $(this).attr("src", el_src);
                    });
                });
            });
        </script>

        <script>
            $(window).scroll(function (e) {
                var $el = $('.learn2-box');
                var isPositionFixed = ($el.css('position') == 'fixed');
                if ($(this).scrollTop() > 200 && !isPositionFixed) {
                    $el.css({ 'position': 'fixed', 'top': '10px', 'margin-right': '0px' });
                }
                if ($(this).scrollTop() < 200 && isPositionFixed) {
                    $el.css({ 'position': 'static', 'top': '10px', 'margin-right': '50px' });
                }
            });

            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        </script>



        <script>
            let stars = document.querySelectorAll(".star");
            document.querySelector(".rating-container").addEventListener("click", starRating);
            let rating = document.querySelector(".rating");
            var bars = document.querySelectorAll('.meter > span');
            function starRating(e) {
                stars.forEach((star) => star.classList.remove("star__checked"));
                const i = [...stars].indexOf(e.target);
                if (i > -1) {
                    stars[i].classList.add("star__checked");
                    rating.textContent = `${stars.length - i}/5`;
                } else {
                    rating.textContent = `${0}/5`;
                }
            }

            function showrating(v) {

                let rating = document.querySelector(".rating");
                let stars = document.querySelectorAll(".star");
               // document.getElementById('resultt').innerHTML = v;
                //document.querySelector('.ratingbox').value = v;
            }

            function Removecart() {
                document.querySelector('.cartadd').value = "No";
            }
            function decidecart() {
                document.querySelector('.cartadd').value = "YES";
            }
        </script>
    </body>
</html>
